<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gillyweed.android.asklah">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-feature android:name="android.hardware.camera2" android:required="true"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="18"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:authorities="com.gillyweed.android.fileprovider"
            android:name="android.support.v4.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>

        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateUsernameActivity"
            android:label="CreateUsername"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".AchievementsActivity"
            android:label="@string/achievement" />
        <activity
            android:name=".HomeActivity"
            android:theme="@style/MyTheme.Base"
            />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".AnnouncementsActivity"
            android:label="@string/announcements"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".AddPostActivity"
            android:label="Add New Post"
            android:parentActivityName=".HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name=".ModulesListActivity"
            android:label="@string/modules_list" />
        <activity
            android:name=".TagQuestionsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name=".SubscribedQuestionsActivity"
            android:label="@string/subscribed_questions" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name=".QuestionThreadActivity"
            android:parentActivityName=".TagQuestionsActivity" />
        <activity
        android:name=".EditPostActivity"
        android:parentActivityName=".QuestionThreadActivity" />

        <activity
            android:name=".TagListActivity"
            android:parentActivityName=".HomeActivity" />

        <activity
            android:name=".CameraFullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_camera_fullscreen"
            android:theme="@style/FullscreenTheme" />

    </application>

</manifest>